{% extends 'base.html' %}

{% block content %}
<style>
    main{
        background-color: #ede7f6 ;
    }
</style>
<div style="height: 30px;"></div>
<section class="container">
{% if object %}
<h1>Update Exercise</h1>
{% else %}
<h1>Add Exercise</h1>
{% endif %}

<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <div> <strong>Choose correct answer: </strong>
        <button class='btn deep-purple darken-2 select-answer' type="button">Option1</button>
        <button class='btn deep-purple darken-2 select-answer' type="button">Option2</button>
        <button class='btn deep-purple darken-2 select-answer' type="button">Option3</button>
        <button class='btn deep-purple darken-2 select-answer' type="button">Option4</button>
        {% if object %}
        <span class="right">
        <input type="submit" value="Update" class="btn blue" id="submit"> &nbsp;&nbsp;
        <a href="{% url 'delete_exercise' object.id %}" class="btn red">Delete</a> 
        </span>
        {% else %}
        <input type="submit" value="Sumbit" class="btn right red" id="submit">
        {% endif %}
    </div>
   
</form>

</section>
<div style="height: 20vh;"></div>


<script>
    const inputCorrect = document.querySelector('#id_correctAnswer')
    const submit = document.querySelector('#submit')
    const buttonSelect = document.querySelectorAll('.select-answer')
    inputCorrect.setAttribute('disabled','')
    const exerOpt=[]
    for (let i=1;i<5;i++){
        exerOpt.push(document.querySelector(`#id_option${i}`))
    }
    buttonSelect.forEach((btn,key)=>{
        btn.addEventListener('click',(e)=>{
            inputCorrect.value = exerOpt[key].value
        })
    })
    submit.addEventListener('click',()=>{
        inputCorrect.removeAttribute('disabled')
    })
</script>
{% endblock %}