{% extends 'base.html' %}

{% block content %}
<style>
    .collapsible-header{
        cursor:unset
    }
</style>
<section class="container">
   <div> <h1>Score: <span class="right">{{ score }}</span></h1></div>


   <h6 class="deep-purple-text darken-1-text">Your answers:</h6>
<ul class="collapsible">
{% for answer in all_answers %}
<li>
    <div class="collapsible-header">
{% if answer.0 %}
<i class="material-icons yellow-text">grade</i>{{answer.1}}
{% else %}
<i class='bx bxs-error-alt red-text'></i> {{answer.1}}
{% endif %}
</div>
</li> 
{% endfor %}
</ul>


</section>
<div style="height: 20vh;"></div>
{% endblock %}