body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-wrapper,
header.navbar-fixed,
nav {
    box-shadow: none !important;
}

.page-footer .container .row {
    text-align: left;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: center;
}


.mg>.card:hover img {
    transform: scale(1.2);
    filter: brightness(1);
}

.mg>.card img {
    transition: transform .5s;
    filter: brightness(.9);
}

.mg>.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mg>.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.op {
    padding: 10px;
    font-size: 20px;
}

li.row {
    margin-left: 3%;
}

blockquote {
    cursor: pointer;
    transition: 0.2s;
}

blockquote:hover {
    background-color: #80cbc4;
}

.exer-quiz,
.exer-quiz li {
    margin-bottom: 0;
}

.green-color {
    box-sizing: border-box;
    background-color: #26a69a;
}


/* alert */
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    top: -50px;
    animation: slide-in 1s forwards;
}

.alert-secondary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@keyframes slide-in {
    to {
        top: 0;
    }
}

/* Home Page */
#home-background {
    background-image: url('../images/assets/webdeveloper_1.jpg');
    background-size: cover;
    height: 100vh;
}