<footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Content</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" href="#!"> Contact Us</a></li>
            <li><a class="grey-text text-lighten-4" href="#!"> Terms and Conditions</a></li>
            <li><a class="grey-text text-lighten-4" href="#!"> Privacy Policy</a></li>
            <li><a class="grey-text text-lighten-4" href="#!"> Report a Bug</a></li>
            <li><a class="grey-text text-lighten-4" href="#!"> FAQ</a></li>
            <li><a class="grey-text text-lighten-4" href="#!"> Join Our Newsletter</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connet with us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><i class='bx bxl-facebook-circle' ></i> facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class='bx bxl-instagram'></i> instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class='bx bxl-github'></i> github</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class='bx bxl-linkedin-square' ></i> linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright deep-purple  darken-3">
      <div class="container">
        All Rights Reserved, © 2023 Copyright Quiz
      <a class="grey-text text-lighten-4 right" href="#!">See more projects</a>
      </div>
    </div>
  </footer>