<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper deep-purple">
            <ul>
                <li>&nbsp;&nbsp;<a href="{% url 'home' %}" class="left brand-logo">Quiz website</a></li>
            </ul>
            <ul class="right">
                <li><a href="/">About</a></li>
                <li><a href="/">Learn</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <li><a href="{% url 'contribute' %}">Contribute</a></li>
                {% if user.is_authenticated %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">account_circle</i></a>&nbsp;</li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if user.is_authenticated %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">Hi {{user.username}}</a></li>
        <li><a href="#!">Your level: {{user.level|floatformat:-2}}</a></li>
        <li><a href="{% url 'password_change' %}">Change Password</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><i class='bx bx-log-out'></i> logout</a></li>
      </ul>
      {% endif %}

</header>
<script>
    const elemsDropdown = document.querySelectorAll('.dropdown-trigger');
    const options = {
        alignment: 'right',
        coverTrigger: false,
        constrainWidth:false,
      };
    M.Dropdown.init(elemsDropdown,options);
</script>