{% extends 'base.html' %}

{% block content %}
{% load static %}


<h1> Categories </h1>
<div class="row mg">
{% for i in object_list %}
<div class="card col">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static i.imagePath %}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{i.name}}<i class="material-icons right">more_vert</i></span>
      <div class="card-action">
        <a href="{% url 'exercise' i.id %}" class="btn"> Exercise </a>
        <a href="{% url 'quiz' i.id %}" class="btn"> Quiz </a>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{i.name}}<i class="material-icons right">close</i></span>
      <p>{{i.description}}</p>
    </div>
  </div>



{% endfor %}
</div>





{% endblock %}

