{% extends 'base.html' %}

{% block content %}
<h2>TOP GURUS</h2>
<table>
    <tr>
        <th>
            Position
        </th>
        <th>
            Username
        </th>
        <th>
            Level
        </th>
    </tr>
    {%for i in object_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{i.username}}</td>
        <td>level: {{i.level|floatformat:-2}}</td>
    </tr>
    {% endfor%}
</table>
<br>
<h3>Top 5 by category:</h3>
<hr><br>
{% for u in userCategories %}
<h4>Category: {{u.0.category}}</h4>
<table>
    <tr>
        <th>
            Position
        </th>
        <th>
            Username
        </th>
        <th>
            Level
        </th>
        <th>
            Attempts
        </th>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>{{u.0.user}}</p>
        </td>
        <td>
            <p>{{u.0.level|floatformat:-2}}</p>
        </td>
        <td>
            <p>{{u.0.attempts}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>{{u.1.user}}</p>
        </td>
        <td>
            <p>{{u.1.level|floatformat:-2}}</p>
        </td>
        <td>
            <p>{{u.1.attempts}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3</p>
        </td>
        <td>
            <p>{{u.2.user}}</p>
        </td>
        <td>
            <p>{{u.2.level|floatformat:-2}}</p>
        </td>
        <td>
            <p>{{u.2.attempts}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>4</p>
        </td>
        <td>
            <p>{{u.3.user}}</p>
        </td>
        <td>
            <p>{{u.3.level|floatformat:-2}}</p>
        </td>
        <td>
            <p>{{u.3.attempts}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>5</p>
        </td>
        <td>
            <p>{{u.4.user}}</p>
        </td>
        <td>
            <p>{{u.4.level|floatformat:-2}}</p>
        </td>
        <td>
            <p>{{u.4.attempts}}</p>
        </td>
    </tr>
</table>
<!-- <p>user: {{u.0.user}}</p>
        <p>level: {{u.0.level|floatformat:-2}}</p>
        <p>attempts: {{u.0.attempts}}</p> -->
{% endfor %}
{% endblock %}